// .title
.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}
.link{
    position: relative;
    transition: all 0.3s ease 0;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        height: 1px;
        width: 0;
        background-color: var(--color-dodger);
        transition: width 0.3s ease 0s;
    }
    @media(any-hover: hover){
        &:hover{
            &::after{
                width: 100%;
            }
        }
    }
}
// .link-nav
// .link-drop
.link-nav,
.link-drop {
    @media(any-hover: hover){
        &:hover{
            .link-nav__arrow,
            .link-nav__icon,
            .link-drop__arrow,
            .link-drop__icon{
                color: var(--color-dodger);
            }
            .link-nav__text,
            .link-drop__text{
                color: var(--color-white);
                &::after{
                    width: 100%;
                }
            }
            .link-nav__arrow{
                opacity: 1;
            }
        }
    }
    // .link-nav__icon
    // .link-drop__icon
    &__icon {
        transition: all 0.3s ease 0s;
    }
    // .link-nav__text
    // .link-drop__text
    &__text {
        position: relative;
        transition: all 0.3s ease 0s;
        &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            height: 1px;
            width: 0;
            background-color: var(--color-dodger);
            transition: width 0.3s ease 0s;
        }
    }
    // .link-nav__arrow
    &__arrow {
        transition: all 0.3s ease 0s;
        opacity: 0;
    }
}
// .link--active
.link--active{
    .link-nav__arrow,
    .link-nav__icon,
    .link-drop__arrow,
    .link-drop__icon{
        color: var(--color-dodger);
    }
    .link-nav__text,
    .link-drop__text{
        color: var(--color-white);
        &::after{
            width: 100%;
        }
    }
    .link-nav__arrow{
        opacity: 1;
    }
}
// .filter
.filter {
    // .filter__form
    &__form {
        display: flex;
        column-gap: 20px;
        width: 100%;
    }
    // .filter__wrap
    &__wrap {
        display: flex;
        column-gap: 10px;
        // .filter__wrap--column
		&--column {
            flex-direction: column;
            row-gap: 5px;
		}
        // .filter__wrap--stretch
        &--stretch {
            flex: 1 1 auto;
        }
    }
}
// .input-block
.input-block {
    // .input-block__title
    &__title {
        font-style: italic;
        font-weight: 700;
        white-space: nowrap;
    }
    // .input-block__wrap
    &__wrap {
        display: flex;
        align-items: center;
        column-gap: 5px;
        // .input-block__wrap--full
        &--full {
            width: 100%;
        }
    }
    // .input-block__input
    &__input {
        // .input-block__input--radio
        // .input-block__input--checkbox
        &--radio,
        &--checkbox {
            accent-color: var(--color-dodger);
            @media(any-hover: hover){
                &:hover{
                    cursor: pointer;
                }
            }
        }
        // .input-block__input--search
		&--search {
            width: 100%;
            height: 25px;
            border: 1px solid var(--color-table-border);
            border-radius: 5px;
            transition: all 0.3s ease 0s;
            &:focus{
                outline: none;
                border: 1px solid var(--color-dodger);
            }
            @media(any-hover: hover){
                &:hover{
                    border-color: var(--color-dodger);
                }
            }
		}
    }
    // .input-block__label
    &__label {
        @media(any-hover: hover){
            &:hover{
                cursor: pointer;
            }
        }
    }
}
// .table
.table {
    border-collapse: collapse;
    border: 1px solid var(--color-table-border);
    // .table__tr
    &__tr {
    }
    // .table__th
    &__th {
        border: 1px solid var(--color-table-border);
        &::after,
        &::before{
            position: absolute;
            content: '';
            left: 0;
            height: 1px;
            width: 100%;
            background-color: var(--color-table-border);
            z-index: 50;
        }
        &::after{
            top: -1px;
        }
        &::before{
            bottom: -1px;
        }
    }
    // .table__td
    &__td {
        border: 1px solid var(--color-table-border);
    }
}

