// .struct-unit
.struct-unit {
    column-gap: 10px;
    overflow: hidden;
    // .struct-unit__work
    &__work {
        flex: 1 1 60%;
        flex-direction: column;
        row-gap: 10px;
    }
    // .struct-unit__title
    &__title {
    }
    // .struct-unit__filter
    &__filter {
        display: flex;
        flex-direction: column;
    }
    // .struct-unit__search
    &__search {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        & .input-block__wrap .input-block__input--search{
            height: 0;
        }
        &.search--active{
            margin-top: 10px;
            height: auto;
            opacity: 1;
            visibility: visible;
            & .input-block__wrap .input-block__input--search{
                height: 25px;
            }
        }
    }
    // .struct-unit__table
    &__table {
    }
    // .struct-unit__detail
    &__detail {
        flex: 1 1 40%;
    }
}
// .table-struct-unit
.table-struct-unit {
    overflow: auto;
    // .table-struct-unit__statistics
    &__statistics {
        margin-bottom: 5px;
    }
    // .table-struct-unit__table
    &__table {
        width: 100%;
        background-color: var(--color-white);
    }
    // .table-struct-unit__tr
    &__tr {
        &:nth-child(2n){
            background-color: var(--color-table-tr);
        }
    }
    // .table-struct-unit__th
    &__th {
        padding: 10px;
        position: sticky;
        top: 0;
        background: var(--color-white);
    }
    // .table-struct-unit__td
    &__td {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
    }
    // .table-struct-unit__button
    &__button {
        width: 100%;
        text-align: left;
        @media(any-hover: hover){
            &:hover{
                font-weight: 700;
            }
        }
    }
    // .table-struct-unit__link
    &__link {
        color: var(--color-black);
        @media(any-hover: hover){
            &:hover{
                font-weight: 700;
            }
        }
    }
}
