// .struct-unit
.struct-unit {
    column-gap: 10px;
    overflow: hidden;
    max-height: calc(100vh - var(--size-header-min-height) - var(--size-footer-min-height) - 20px);
    // .struct-unit__work
    &__work {
        flex: 1 1 60%;
        flex-direction: column;
        row-gap: 10px;
    }
    // .struct-unit__title
    &__title {
    }
    // .struct-unit__filter
    &__filter {
    }
    // .struct-unit__table
    &__table {
    }
    // .struct-unit__detail
    &__detail {
        flex: 1 1 40%;
    }
}
// .filter-struct-unit
.filter-struct-unit {
    // .filter-struct-unit__form
    &__form {
    display: flex;
    column-gap: 20px;
    }
    // .filter-struct-unit__radio
    &__radio {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    }
    // .filter-struct-unit__wrap
    &__wrap {
        display: flex;
        column-gap: 10px;
    }
    // .filter-struct-unit__drop
    &__drop {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    // .filter-struct-unit__order
    &__order {
    }
}
// .table-struct-unit
.table-struct-unit {
    overflow: auto;
    // .table-struct-unit__table
    &__table {
        width: 100%;
        background-color: var(--color-white);
    }
    // .table-struct-unit__tr
    &__tr {
    }
    // .table-struct-unit__th
    &__th {
        padding: 10px;
        position: sticky;
        top: 0;
        background: var(--color-white);
    }
    // .table-struct-unit__td
    &__td {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
    }
    // .table-struct-unit__button
    &__button {
        width: 100%;
        text-align: left;
        @media(any-hover: hover){
            &:hover{
                font-weight: 700;
            }
        }
    }
    // .table-struct-unit__link
    &__link {
        color: var(--color-black);
        @media(any-hover: hover){
            &:hover{
                font-weight: 700;
            }
        }
    }
}