// .aside
.aside {
    display: flex;
    flex-direction: column;
    width: 270px;
    min-height: 100%;
    @include adaptive-value("padding-left", 10, 5, 1);
    @include adaptive-value("padding-right", 10, 5, 1);
    overflow: hidden;
    background-color: var(--color-background-nav);
    color: var(--color-font);
    transition: all 0.3s ease 0s;
    // .aside__header
    &__header {
        display: flex;
        align-items: center;
        min-height: 50px;
    }
    // .aside__main
    &__main {
        flex: 1 1 auto;
        overflow-y: auto;
    }
    // .aside__link
    &__link {
        display: flex;
        width: 100%;
        color: var(--color-font);
    }
    // .aside__footer
    &__footer {
        min-height: 70px;
    }
    &.minimize{
        position: absolute;
        width: 70px;
        .headar-aside__logo{
            width: 0;
            height: 0;
            opacity: 0;
            transition: opacity 0s ease-out 0s;
        }
        .headar-aside{
            justify-content: center;
            column-gap: 0;
        }
    }
    &.hover{
        @media(any-hover: hover){
            &:hover{
                width: 270px;
                .headar-aside__logo{
                    display: block;
                    width: auto;
                    height: auto;
                    opacity: 1;
                    transition: opacity 0.1s ease-in 0.1s;
                }
                .headar-aside{
                    justify-content: space-between;
                    column-gap: 10px;
                }
            }
        }
    }
}
// .headar-aside
.headar-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
		// .headar-aside__logo
		&__logo {
            overflow: hidden;
            opacity: 1;
		}
		// .headar-aside__link
		&__link {
            display: block;
            color: var(--color-font);
            transition: all 0.3s ease 0;
            font-size: 18px;
            white-space: nowrap;
            transform: scale(1);
            @media(any-hover: hover){
                &:hover{
                    color: var(--color-white);
                    transform: scale(0.98);
                    }
                }
		}
		// .headar-aside__control
		&__control {
            display: flex;
            flex-direction: row;
            column-gap: 10px
		}
		// .headar-aside__btn
		&__btn {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease 0s;
            transform: scale(1);
            @media(any-hover: hover){
            &:hover{
                transform: scale(0.9);
                }
            }
		}
}
