//=======================================================
//      Основные настройки
//=======================================================
html,
body {
    &.lock {
        overflow: hidden;
    }
}

html {
    font-family: var(--font-montserrat, sans-serif);
}

body {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    font-size: 16px;
}

.aside{
    display: flex;
    flex-direction: column;
    width: 210px;
    min-height: 100%;
    overflow: hidden;
    @include adaptive-value("padding-left", 10, 5, 1);
    @include adaptive-value("padding-right", 10, 5, 1);
    background-color: var(--color-background-nav);
    color: var(--color-white);
}

.wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main{
    flex: 1 1 auto;
    width: 100%;
    @include adaptive-value("padding-top", 10, 5, 1);
    @include adaptive-value("padding-bottom", 10, 5, 1);
    @include adaptive-value("padding-left", 10, 5, 1);
    @include adaptive-value("padding-right", 10, 5, 1);
    background-color: var(--color-background-main);
}
//=======================================================
//      Ограничивающий контейнер
//=======================================================
.container {
    max-width: var(--max-widthContainer);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
}
//=======================================================
//      Адиптивное изображение
//=======================================================
.img{
    position: relative;
  img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
  }
}
//=======================================================
//      Сброс стилей кнопки
//=======================================================
.btn-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
