
// .nav-service {
//     // .nav-service__body
//     &__body {
//     }
//     // .nav-service__list
//     &__list {
//     }
//     // .nav-service__item
//     &__item {
//         &:not(:last-child){
//             @include adaptive-value("padding-bottom", 10, 5, 1);
//         }
//     }
//     // .nav-service__link
//     &__link {
//         display: flex;
//         align-items: center;
//         column-gap: 10px;
//         color: var(--color-font);
//     }
//     // .nav-service__link-icon
//     &__link-icon {
//         font-size: 24px;
//     }
//     // .nav-service__link-text
//     &__link-text {
//         font-size: 14px;
//     }
//     // .nav-service__link-sec
// 		&__link-sec {
//             flex: 1 1 auto;
// 		}
// }
//=================================//
// .aside
.aside {
    flex: 0 0 var(--size-aside-width);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    @include adaptive-value("padding", 10, 5, 1);
    background-color: var(--color-background-nav);
    color: var(--color-font-nav);
    transition: all 0.3s ease 0s;
    &.aside--hide{
        transform: translateX(-500px);
        position: absolute;
        min-height: calc(100% - var(--size-header-min-height));
        top: var(--size-header-min-height);
        .headar-aside__icon-cor{
            transform: scale(-1, -1);
            color: var(--color-dodger);
        }
        .headar-aside__btn-resize{
            display: none;
        }
        .nav-aside{
            display: flex;
        }
    }
    &.burger--active{
        width: 280px;
        transform: translateX(0px);
        padding: 10px;
        position: absolute;
        @media (max-width: $md4) {
            width: 100%;
        }
    }
    &.aside--minimize{
        position: absolute;
        width: 70px;
        overflow: hidden;
        .headar-aside__logo{
            width: 0;
            height: 0;
            opacity: 0;
            transition: opacity 0s ease-out 0s;
        }
        .headar-aside{
            justify-content: center;
            column-gap: 0;
        }
        .headar-aside__icon-left{
            transform: scale(-1, 1);
            color: var(--color-dodger);
        }
        .nav-aside{
            display: flex;
            justify-content: center;
        }
        .nav-aside__btn{
            justify-content: center;
        }
        .nav-aside__item{
            &.drop--active{
                flex: 1 1 auto;
            }
        }
        .nav-aside__btn-txt,
        .nav-aside__btn-sec,
        .nav-aside__btn-arrow{
            display: none;
            font-size: 0;
        }
    }
    &.aside--hover{
        @media(any-hover: hover){
            &:hover{
                width: 280px;
                .headar-aside__logo{
                    display: block;
                    width: auto;
                    height: auto;
                    opacity: 1;
                    transition: opacity 0.1s ease-in 0.1s;
                }
                .headar-aside{
                    justify-content: space-between;
                    column-gap: 10px;
                }
                .nav-aside{
                    display: flex;
                    justify-content: flex-start;
                }
                .nav-aside__btn-txt,
                .nav-aside__btn-sec,
                .nav-aside__btn-arrow{
                    display: flex;
                }
                .nav-aside__btn-icon{
                    font-size: 26px;
                }
                .nav-aside__btn-txt{
                    font-size: 14px;
                }
                .nav-aside__btn-sec{
                    flex:  1 1 auto;
                }
                .nav-aside__btn-arrow{
                    font-size: 20px;
                }
            }
        }
    }
    // .aside__header
    &__header {
        display: flex;
        align-items: center;
        min-height: var(--size-header-min-height);
        padding-bottom: 5px;
    }
    // .aside__nav
    &__nav {
        flex: 1 1 auto;
        padding: 5px 0px;
    }
    // .aside__footer
    &__footer {
        display: flex;
        align-items: center;
        min-height: var(--size-footer-min-height);
        padding-top: 5px;
    }
}
// .headar-aside
.headar-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    // .headar-aside__logo
    &__logo {
    }
    // .headar-aside__link
    &__link {
        display: block;
        color: var(--color-font);
        transition: all 0.3s ease 0;
        font-size: 18px;
        white-space: nowrap;
        transform: scale(1);
        @media(any-hover: hover){
            &:hover{
                color: var(--color-dodger);
                transform: scale(0.98);
            }
        }
    }
    // .headar-aside__control
    &__control {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        @media (max-width: $md2) {
            display: none;
        }
    }
    // .headar-aside__btn-resize
    // .headar-aside__btn-hide
    &__btn-resize,
    &__btn-hide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        transition: all 0.3s ease 0s;
        transform: scale(1);
        @media(any-hover: hover){
        &:hover{
            transform: scale(0.9);
            }
        }
    }
    // .headar-aside__icon-left
    &__icon-left {
        font-size: 24px;
        transform: scale(1, 1);
        transition: transform 0.3s ease 0s, color 0.3s ease 0s;
        @media(any-hover: hover){
            &:hover{
                color: var(--color-dodger);
            }
        }
    }
    // .headar-aside__icon-cor
    &__icon-cor {
        font-size: 20px;
        transform: scale(1, 1);
        transition: all 0.3s ease 0s;
        @media(any-hover: hover){
            &:hover{
                color: var(--color-dodger);
            }
        }
    }
}
//=================================//
// .nav-aside
// .nav-aside {
//     display: flex;
//     flex-direction: column;
//     // .nav-aside__main
//     &__main {
//         flex: 1 1 auto;
//     }
//     // .nav-aside__list
//     &__list {
//     }
//     // .nav-aside__item
//     &__item {
//         &:not(:last-child){
//             @include adaptive-value("padding-bottom", 10, 5, 1);
//         }
//         &.drop--active{
//             .nav-aside__btn{
//                 color: var(--color-dodger);
//                 @media(any-hover: hover){
//                     &:hover{
//                         color: var(--color-font);
//                     }
//                 }
//             }
//             .nav-aside__btn-arrow{
//                 color: var(--color-dodger);
//                 transform: rotate(180deg);
//             }
//             .drop-nav-aside__list{
//                 height: auto;
//                 padding-top: 10px;
//                 opacity: 1;
//                 visibility: visible;
//             }
//         }
//     }
//     // .nav-aside__btn
//     &__btn {
//         width: 100%;
//         display: flex;
//         align-items: center;
//         @media(any-hover: hover){
//             transition: all 0.3s ease 0;
//             transform: scale(1);
//             &:hover{
//                 transform: scale(0.98);
//                 color: var(--color-dodger);
//             }
//         }
//     }
//     // .nav-aside__btn-icon
//     &__btn-icon {
//         font-size: 32px;
//     }
//     // .nav-aside__btn-txt
//     &__btn-txt {
//         flex: 1 1 auto;
//         display: flex;
//         @include adaptive-value("padding-left", 10, 5, 1);
//         padding-right: 5px;
//         white-space: nowrap;
//     }
//     // .nav-aside__btn-arrow
//     &__btn-arrow {
//         transition: transform 0.3s ease 0s, color 0.3s ease 0s;
//     }
//     // .nav-aside__drop
//     &__drop {
//         padding-left: 30px;
//     }
//     // .nav-aside__service
//     &__service {
//     }
// }
// .drop-nav-aside
// .drop-nav-aside {
//     // .drop-nav-aside__list
//     &__list {
//         height: 0;
//         opacity: 0;
//         visibility: hidden;
//         transition: height 0.3s ease 0s, opacity 0.3s ease 0s;
//     }
//     // .drop-nav-aside__item
//     &__item {
//         &:not(:last-child){
//             padding-bottom: 5px;
//         }
//     }
//     // .drop-nav-aside__link
//     &__link {
//     color: var(--color-font);
//     }
//     // .drop-nav-aside__link-icon
//     &__link-icon {
//         font-size: 24px;
//     }
//     // .drop-nav-aside__link-text
//     &__link-text {
//     }
// }
//=================================//




// .nav-aside
.nav-aside {
    // .nav-aside__items
    &__items {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    // .nav-aside__item
    &__item {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease 0s;
        &:not(:last-child){
            @include adaptive-value("padding-bottom", 10, 5, 1);
        }
        &.drop--active{
            flex: 1 1 auto;
            .nav-aside__btn-icon{
                font-size: 26px;
            }
            .nav-aside__btn-txt{
                font-size: 16px;
            }
            .link-nav__arrow,
            .link-nav__icon{
                color: var(--color-dodger);
            }
            .link-nav__text{
                color: var(--color-white);
            }
            .link-nav__arrow{
                opacity: 1;
                transform: rotate(180deg);
            }
        }
    }
    // .nav-aside__item--main
    &__item--main {
        opacity: 1;
        transition: all 0.3s ease 0s;
        &.drop--active{
            flex: 1 1 auto;
            .nav-aside__btn{
                display: none;
                opacity: 0;
            }
        }
        .nav-aside__btn{
            display: flex;
        }
    }
    // .nav-aside__btn
    &__btn {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    // .nav-aside__btn-icon
    // .nav-aside__btn-arrow
    &__btn-icon,
    &__btn-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // .nav-aside__btn-icon
    &__btn-icon {
        font-size: 26px;
    }
    // .nav-aside__btn-txt
    &__btn-txt {
        font-size: 14px;
    }
    // .nav-aside__btn-sec
    &__btn-sec {
        flex: 1 1 auto;
    }
    // .nav-aside__btn-arrow
    &__btn-arrow {
        font-size: 20px;
    }
}
// .sub-nav-aside
.sub-nav-aside{
    display: none;
    &.drop--active{
        display: flex;
    }
}