// .aside
.aside {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 100%;
    @include adaptive-value("padding", 10, 5, 1);
    background-color: var(--color-background-nav);
    color: var(--color-font-nav);
    transition: all 0.3s ease 0s;
    &.aside--hide{
        transform: translateX(-500px);
        position: absolute;
        min-height: calc(100% - var(--size-header-min-height));
        top: var(--size-header-min-height);
    }
    &.burger--active{
        transform: translateX(0px);
        width: 280px;
        padding: 10px;
        position: absolute;
    }
		// .aside__header
		&__header {
            display: flex;
            align-items: center;
            min-height: var(--size-header-min-height);
            padding-bottom: 5px;
		}
		// .aside__main
		&__main {
            flex: 1 1 auto;
            padding: 5px 0px;
		}
		// .aside__footer
		&__footer {
            display: flex;
            align-items: center;
            min-height: var(--size-footer-min-height);
            padding-top: 5px;
		}
}
